<div id="calculator" class="modal-dialog modal-lg">
    <div class="modal-content">
		<div class="modal-header">
        	<h3 class="modal-title" id="calculateOhmLabel" ><i class="glyphicon glyphicon-ok" ></i> Calculate IOhm</h3>
        </div>
		<div class="modal-body">
            <form name="iohmform" class="form form-horizontal">
			    <div class="col-xs-12">
			    	<div class="row"> 
			    	    <div class="form-group" >
			    	    	<label class="control-label col-xs-4">Calcuated Value:</label>
			    	   		<div class="col-xs-4">
					        	<div>
								    <label class="control-label col-xs-4">{{calculatedOhmValue}}</label>
								</div>								
							</div>
				        </div>
			    	    <div class="form-group" ng-class="{ 'has-error': iohmform.band_A_Color.$invalid && iohmform.band_A_Color.$dirty }">
			    	    	<label class="control-label col-xs-4" for="bandAColorID">* Band A Color:</label>
			    	   		<div class="col-xs-4">
					        	<div>
								    <input type="text" ng-model="bandAColor" ng-required="true" 
								    	name="band_A_Color" id="bandAColorID" class="form-control">
								</div>								
							</div>
				        </div>   
				        <div class="form-group" ng-class="{ 'has-error': iohmform.band_B_Color.$invalid && iohmform.band_B_Color.$dirty }">
			    	    	<label class="control-label col-xs-4" for="bandBColorID">* Band B Color:</label>
			    	   		<div class="col-xs-4">
					        	<div>
								    <input type="text" ng-model="bandBColor" ng-required="true" 
								    	name="band_B_Color" id="bandBColorID" class="form-control">
								</div>								
							</div>
				        </div>
				        <div class="form-group" ng-class="{ 'has-error': iohmform.band_C_Color.$invalid && iohmform.band_C_Color.$dirty }">
			    	    	<label class="control-label col-xs-4" for="bandCColorID">* Band C Color:</label>
			    	   		<div class="col-xs-4">
					        	<div>
								    <input type="text" ng-model="bandCColor" ng-required="true" 
								    	name="band_C_Color" id="bandCColorID" class="form-control">
								</div>								
							</div>
				        </div>
				        <div class="form-group" ng-class="{ 'has-error': iohmform.band_D_Color.$invalid && iohmform.band_D_Color.$dirty }">
			    	    	<label class="control-label col-xs-4" for="bandDColorID">* Band D Color:</label>
			    	   		<div class="col-xs-4">
					        	<div>
								    <input type="text" ng-model="bandDColor" ng-required="true" 
								    	name="band_A_Color" id="bandDColorID" class="form-control">
								</div>								
							</div>
				        </div>        		    
			      	</div>
			   	</div>
			   	<div class="form-group">
                    <div class="col-md-offset-5 col-md-6">
                        <button type="submit" 
                        	ng-click="iohmform.$valid && calculateByPost()" class="btn btn-primary"><msg key="ok_post"></msg></button>
                        <button type="submit" 
                        	ng-click="iohmform.$valid && calculateByGet()" class="btn btn-primary"><msg key="ok_get"></msg></button>
                        <button type="submit" 
                        	ng-click="cancel()" class="btn btn-default"><msg key="cancel"></msg></button>
                    </div>
                </div>
		   	</form>
	   	</div>
	</div>
</div>